.header {
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: $header-height;
  align-items: center;
  box-shadow: 0px 14px 19px -7px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  position: fixed;
  z-index: 2;
  .app-logo {
    font-size: 2rem;
    color: $primary;
    font-family: cursive;
  }
  .nav {
    align-items: center;
    ul {
      text-decoration: none;
      gap: 20px;
      li {
        list-style: none;
        font-size: 0.75rem;
        cursor: pointer;
      }
      display: flex;
    }
  }
}
.app-content {
  height: calc(100vh - #{$header-height});
  width: 100vw;
  margin: auto;
  padding: 0 10%;
  padding-top: $header-height;
}
