.button-primary {
  text-transform: uppercase;
  border: 1px solid #55c57a;
  color: #55c57a;
  background-color: inherit;
  font-size: 0.75rem;
  border-radius: 20px; }

.button-primary:hover {
  background-color: #55c57a;
  color: #ffff;
  border: none; }

.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  box-shadow: 0px 14px 19px -7px rgba(0, 0, 0, 0.1);
  padding: 0 20px; }
  .header .app-logo {
    font-size: 2rem;
    color: #55c57a;
    font-family: cursive; }
  .header .nav {
    align-items: center; }
    .header .nav ul {
      text-decoration: none;
      gap: 20px;
      display: flex; }
      .header .nav ul li {
        list-style: none;
        font-size: 0.75rem;
        cursor: pointer; }

.app-content {
  height: calc(100vh - 50px);
  width: 100vw;
  margin: auto;
  padding: 0 10%; }

.filter-view {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: column; }
  .filter-view .filter-view-content {
    width: 100%;
    height: calc(100vh - 50px - 80px);
    margin-top: 80px; }

.search-bar-wrapper {
  height: 80px;
  width: 80%;
  padding: 10px;
  display: flex;
  position: fixed; }
  .search-bar-wrapper .search-bar {
    flex: 3; }
    .search-bar-wrapper .search-bar input {
      height: 50px;
      width: 90%;
      padding: 10px;
      border: 1px solid #55c57a;
      border-radius: 10px 0 0 10px;
      margin-left: auto; }
    .search-bar-wrapper .search-bar input:focus {
      outline: none;
      border: 2px solid #55c57a; }
    .search-bar-wrapper .search-bar .search-button {
      position: relative;
      height: 50px;
      background-color: #55c57a;
      border: none;
      border-radius: 0;
      color: #ffff; }
  .search-bar-wrapper .search-bar-actions button {
    margin: 0 10px;
    background-color: #ffff;
    border: none;
    color: #55c57a;
    font-weight: 500; }
    .search-bar-wrapper .search-bar-actions button span {
      margin-left: 5px; }
