.button-primary {
  text-transform: uppercase;
  border: 1px solid $primary;
  color: $primary;
  background-color: inherit;
  font-size: 0.75rem;
  border-radius: 20px;
}
.button-primary:hover {
  background-color: $primary;
  color: $white;
  border: none;
}
